$primary-red: #ff6666;
$primary-blue: #6fffef;

.CircularProgressbar.progress-audio {
	width: 30px;

	.CircularProgressbar-path {
		stroke: $primary-red;
		stroke-linecap: round;
		transition: stroke-dashoffset 0.5s ease 0s;
	}

	.CircularProgressbar-trail {
		stroke: #d6d6d6;
	}

	.CircularProgressbar-text {
		fill: $primary-red;
		font-size: 20px;
		text-anchor: middle;
	}

	.CircularProgressbar-background {
		fill: #d6d6d6;
	}
}

.CircularProgressbar.CircularProgressbar-inverted.progress-audio {

	.CircularProgressbar-background {
		fill: $primary-red;
	}

	.CircularProgressbar-text {
		fill: #fff;
	}

	.CircularProgressbar-path {
		stroke: #fff;
	}

	.CircularProgressbar-trail {
		stroke: transparent;
	}
}

.CircularProgressbar.progress-video {
	width: 30px;

	.CircularProgressbar-path {
		stroke: $primary-blue;
		stroke-linecap: round;
		transition: stroke-dashoffset 0.5s ease 0s;
	}

	.CircularProgressbar-trail {
		stroke: #d6d6d6;
	}

	.CircularProgressbar-text {
		fill: $primary-blue;
		font-size: 20px;
		text-anchor: middle;
	}

	.CircularProgressbar-background {
		fill: #d6d6d6;
	}
}

.CircularProgressbar.CircularProgressbar-inverted.progress-video {

	.CircularProgressbar-background {
		fill: $primary-blue;
	}

	.CircularProgressbar-text {
		fill: #fff;
	}

	.CircularProgressbar-path {
		stroke: #fff;
	}

	.CircularProgressbar-trail {
		stroke: transparent;
	}
}

