@import 'search_bar';
$font-family: Roboto Slab, sans-serif;
$color_main: #ff6666;

body {
	margin: 0;
	background-color: #222;
	font-family: $font-family;
}

.baseContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	ul {
		padding: 0;
		width: 100%;
		li {
			list-style: none;
			padding: 20px 50px;
			text-align: left;
			border-top: 1px solid #383838;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			p {
				display: inline;
				margin-right: 10px;
				color: white;
			}
			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: $color_main;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.searchResults {
	width: 100%;
}
