.search-results {
    max-width: 700px;
    ul {
        li {
            .result-left {
                display: flex;
                flex-direction: row;
                justify-content: left;
                .result-left-image {
                    margin-right: 20px;
                    align-self: center;
                }
                canvas {
                    box-shadow: 1px 1px 3px black;
                }
                .result-left-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .uploader {
                        font-size: 12px;
                        margin-right: 7px;
                    }
                    .duration {
                        font-size: 14px;
                    }
                    .views {
                        font-size: 14px;
                    }
                    p {
                        margin: 6px 0;
                    }
                }
            }
            a {
                i {
                    font-size: 27px;
                    margin-left: 20px;
                }
            }
        }
    }
}

.search-results-placeholder {
    color: #757575;
    font-size: 50px;
}