#advanced {
	width: 700px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advanced-button {
	margin: 0;
	background-color: #262626;
	padding: 4px 7px;
	box-shadow: 0px 1px 3px black;
	border-radius: 4px;
	font-size: 16px;
	color: white;
	transition: color 200ms ease, transform 200ms ease;

	&:hover {
		color: #ff6565;
		transform: scale(1.01);
		cursor: pointer;
	}
}

.advanced-options-container {
	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 0px 10px black;
	padding: 0;
	width: 100%;
	border: 1px solid #383838;
	background-color: #262626;

	.advanced-options-wrapper {
		padding: 15px 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
			
		p {
			display: inline;
			margin-right: 20px;
			color: white;
		}

		.advanced-options-inner-container {
			width: 100%;
			margin: 10px;

			input {
				text-align: center;
				height: 30px;
				padding: 0;
				border-radius: 0;
				line-height: 70px;
				background-color: transparent;
				color: white;
				font-size: 20px;
				border: none;
				outline: none;
				box-shadow: 0 0 1px black;
				margin-right: 20px;
				transform: perspective(1px) translateZ(0);
				transition-duration: 0.5s;

				&:hover {
					transform: scale(1.05);
					transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				}
			}

			a {
				display: inline-block;
				vertical-align: middle;
				box-shadow: 0 0 1px transparent;

				transform: perspective(1px) translateZ(0);
				transition-duration: 0.5s;

				&:hover, &:focus, &:active {
					transform: scale(1.15);
					transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				}

				i {
					color: #ff6666;
				}
			}
		}
	}
}

.advanced-modal-container {
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.advanced-modal-wrapper {
		max-width: 100%;
		max-height: 100%;
		width: 400px;
		height: 75px;
		background-color: #222;
		box-shadow: 0 0 20px black;
		border-radius: 4px;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.advanced-modal-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			flex: 8;

			p {
				margin: 0;
				color: white;
			}
		}

		.advanced-modal-right {
			flex: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.progress-audio {
				margin: 0;
			}
		}
	}
}
