.downloaded {
	background-color: #d0d0d0;
	border: none;
	box-shadow: none;
	p {
		color: black;
	}
}

li {
	transition: background-color 0.5s ease;
	background-color: #262626;
	box-shadow: 0px 0px 1px black;
	list-style: none;
	padding: 20px 50px;
	text-align: left;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #383838;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	p {
		display: inline;
		color: white;
	}
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $color_main;
		&:hover {
			cursor: pointer;
		}
	}
	.left {
		display: flex;
		flex-direction: row;
		justify-content: left;
		.left-image {
			margin-right: 20px;
			align-self: center;
		}
		canvas {
			box-shadow: 1px 1px 3px black;
		}
		.left-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.uploader {
				font-size: 12px;
				margin-right: 7px;
			}
			.duration {
				font-size: 14px;
			}
			.views {
				font-size: 14px;
			}
			p {
				margin: 6px 0;
			}
		}
	}
	a {
		i {
			font-size: 27px !important;
			margin-left: 20px;
		}
	}
}
