@import './Search/search_bar';
@import './Search/spinner';
@import './Downloads/progress';
@import './Downloads/downloads';
@import './VideoList/video_list';
@import './VideoList/video_list_row';
@import './VideoViewer/video_viewer';
$font-family: Roboto Slab,
sans-serif;
$color_main: #ff6666;
body {
	margin: 0;
	background-color: #222;
	font-family: $font-family;
}

.base-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; //width: 800px;
	margin: auto;
}

.header-text-grey {
	color: #757575;
}
