@import './Search/search_bar';
@import './Search/spinner';
@import './Downloads/progress';
@import './Downloads/downloads';
@import './VideoList/video_list';
@import './VideoList/video_list_row';
@import './VideoViewer/video_viewer';
$font-family: Roboto Slab,
sans-serif;
$color_main: #ff6666;

body {
	margin: 0;
	background-color: #222;
	font-family: $font-family;
}

a:hover {
	cursor: pointer;
}

.base-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; //width: 800px;
	margin: auto;
}

.feed-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.header-text-grey {
	color: #757575;
}

i.fa {
	font-size: 27px !important;
}

.download-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.download-button-audio {
		color: #ff6666;
	}

	.download-button-video {
		color: #70ffee;
	}
}

